Imagenes/0- Cuadros yt.gif
Imagenes/0- Cuadros yt.xcf
Imagenes/1- Cuadros segmentados.xcf
Imagenes/2- Cuadros armados resolucion original.xcf
Imagenes/3- Cuadros resolucion ajustada.xcf
Imagenes/4- Animacion Terminada.gif
Imagenes_San_Valentin/Vday.gif
Imagenes_San_Valentin/Vday.xcf
Imagenes_San_Valentin/4- Animacion Terminada San V.gif
Nyanyanyanya.mp3
Nyanyanyanya.wav
Imagenes/Capturas del video/Cuadro*yt.png
